<% if @cocktail.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
    <%= @cocktail.name %>
  </div>
<% else %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?cocktail/<%= rand(50)%>)">
    <%= @cocktail.name %>
  </div>
<% end %>

<%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary"%>

<%= link_to "Cocktail List", cocktails_path, class: "btn btn-primary"%>
<%= link_to "Add a New Cocktail", new_cocktail_path, class: "btn btn-primary"%>

<h2> Ingredients </h2>
<% @cocktail.doses.each do |dose| %>
  <div class = "card-product mb-5 mt-5">
    <div class="col-12 ">
        <div class="card-product-infos">
          <div>
            <h2><%= dose.ingredient.name%> : <%= dose.description%> -
              <%= link_to "Delete", dose_path(dose),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
            </h2>
          </div>
        </div>
    </div>
  </div>
<% end %>
